In [1]:
import pandas as pd

In [2]:
df = pd.read_json('data/breeds.json')
df["height"].apply(pd.Series)

      imperial   metric
0     9 - 11.5  23 - 29
1      25 - 27  64 - 69
2           30       76
3      21 - 23  53 - 58
4      28 - 34  71 - 86
..         ...      ...
167    13 - 16  33 - 41
168    20 - 24  51 - 61
169  21.5 - 25  55 - 64
170    10 - 23  25 - 58
171      8 - 9  20 - 23

[172 rows x 2 columns]

In [3]:
new_df = pd.concat([df, df["height"].apply(pd.Series)], axis=1)
new_df

,bred_for,breed_group,height,id,image,life_span,name,origin,reference_image_id,temperament,weight,country_code,description,history,imperial,metric
0,"Small rodent hunting, lapdog",Toy,"{'imperial': '9 - 11.5', 'metric': '23 - 29'}",1,"{'height': 1199, 'id': 'BJa4kxc4X', 'url': 'ht...",10 - 12 years,Affenpinscher,"Germany, France",BJa4kxc4X,"Stubborn, Curious, Playful, Adventurous, Activ...","{'imperial': '6 - 13', 'metric': '3 - 6'}",NaN,NaN,NaN,9 - 11.5,23 - 29
1,Coursing and hunting,Hound,"{'imperial': '25 - 27', 'metric': '64 - 69'}",2,"{'height': 380, 'id': 'hMyT4CDXR', 'url': 'htt...",10 - 13 years,Afghan Hound,"Afghanistan, Iran, Pakistan",hMyT4CDXR,"Aloof, Clownish, Dignified, Independent, Happy","{'imperial': '50 - 60', 'metric': '23 - 27'}",AG,NaN,NaN,25 - 27,64 - 69
2,A wild pack animal,NaN,"{'imperial': '30', 'metric': '76'}",3,"{'height': 335, 'id': 'rkiByec47', 'url': 'htt...",11 years,African Hunting Dog,,rkiByec47,"Wild, Hardworking, Dutiful","{'imperial': '44 - 66', 'metric': '20 - 30'}",NaN,NaN,NaN,30,76
3,"Badger, otter hunting",Terrier,"{'imperial': '21 - 23', 'metric': '53 - 58'}",4,"{'height': 430, 'id': '1-7cgoZSh', 'url': 'htt...",10 - 13 years,Airedale Terrier,"United Kingdom, England",1-7cgoZSh,"Outgoing, Friendly, Alert, Confident, Intellig...","{'imperial': '40 - 65', 'metric': '18 - 29'}",NaN,NaN,NaN,21 - 23,53 - 58
4,Sheep guarding,Working,"{'imperial': '28 - 34', 'metric': '71 - 86'}",5,"{'height': 471, 'id': '26pHT3Qk7', 'url': 'htt...",10 - 12 years,Akbash Dog,,26pHT3Qk7,"Loyal, Independent, Intelligent, Brave","{'imperial': '90 - 120', 'metric': '41 - 54'}",NaN,NaN,NaN,28 - 34,71 - 86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,"Vermin hunting, fox bolting",NaN,"{'imperial': '13 - 16', 'metric': '33 - 41'}",259,"{'height': 795, 'id': 'SJ6f2g9EQ', 'url': 'htt...",13 – 14 years,Wire Fox Terrier,NaN,SJ6f2g9EQ,"Fearless, Friendly, Bold, Keen, Alert, Quick","{'imperial': '15 - 19', 'metric': '7 - 9'}",NaN,NaN,England,13 - 16,33 - 41
168,"Gundog, ""swamp-tromping"", Flushing, pointing, ...",Sporting,"{'imperial': '20 - 24', 'metric': '51 - 61'}",260,"{'height': 1604, 'id': 'Bkam2l9Vm', 'url': 'ht...",12 - 14 years,Wirehaired Pointing Griffon,NaN,Bkam2l9Vm,"Loyal, Gentle, Vigilant, Trainable, Proud","{'imperial': '45 - 70', 'metric': '20 - 32'}",NaN,NaN,NaN,20 - 24,51 - 61
169,NaN,Sporting,"{'imperial': '21.5 - 25', 'metric': '55 - 64'}",261,"{'height': 770, 'id': 'r1I4hl5Em', 'url': 'htt...",12 - 14 years,Wirehaired Vizsla,NaN,r1I4hl5Em,NaN,"{'imperial': '45 - 65', 'metric': '20 - 29'}",NaN,NaN,NaN,21.5 - 25,55 - 64
170,NaN,Non-Sporting,"{'imperial': '10 - 23', 'metric': '25 - 58'}",262,"{'height': 1350, 'id': 'HkNS3gqEm', 'url': 'ht...",12 - 14 years,Xoloitzcuintli,NaN,HkNS3gqEm,"Cheerful, Alert, Companionable, Intelligent, P...","{'imperial': '9 - 31', 'metric': '4 - 14'}",NaN,NaN,NaN,10 - 23,25 - 58
171,Small vermin hunting,Toy,"{'imperial': '8 - 9', 'metric': '20 - 23'}",264,"{'height': 683, 'id': 'B12BnxcVQ', 'url': 'htt...",12 - 16 years,Yorkshire Terrier,NaN,B12BnxcVQ,"Bold, Independent, Confident, Intelligent, Cou...","{'imperial': '4 - 7', 'metric': '2 - 3'}",NaN,NaN,NaN,8 - 9,20 - 23

In [4]:
new_df2 = pd.concat([new_df, df["image"].apply(pd.Series)], axis=1)
new_df2

,bred_for,breed_group,height,id,image,life_span,name,origin,reference_image_id,temperament,weight,country_code,description,history,imperial,metric,height,id,url,width
0,"Small rodent hunting, lapdog",Toy,"{'imperial': '9 - 11.5', 'metric': '23 - 29'}",1,"{'height': 1199, 'id': 'BJa4kxc4X', 'url': 'ht...",10 - 12 years,Affenpinscher,"Germany, France",BJa4kxc4X,"Stubborn, Curious, Playful, Adventurous, Activ...","{'imperial': '6 - 13', 'metric': '3 - 6'}",NaN,NaN,NaN,9 - 11.5,23 - 29,1199,BJa4kxc4X,https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg,1600
1,Coursing and hunting,Hound,"{'imperial': '25 - 27', 'metric': '64 - 69'}",2,"{'height': 380, 'id': 'hMyT4CDXR', 'url': 'htt...",10 - 13 years,Afghan Hound,"Afghanistan, Iran, Pakistan",hMyT4CDXR,"Aloof, Clownish, Dignified, Independent, Happy","{'imperial': '50 - 60', 'metric': '23 - 27'}",AG,NaN,NaN,25 - 27,64 - 69,380,hMyT4CDXR,https://cdn2.thedogapi.com/images/hMyT4CDXR.jpg,606
2,A wild pack animal,NaN,"{'imperial': '30', 'metric': '76'}",3,"{'height': 335, 'id': 'rkiByec47', 'url': 'htt...",11 years,African Hunting Dog,,rkiByec47,"Wild, Hardworking, Dutiful","{'imperial': '44 - 66', 'metric': '20 - 30'}",NaN,NaN,NaN,30,76,335,rkiByec47,https://cdn2.thedogapi.com/images/rkiByec47.jpg,500
3,"Badger, otter hunting",Terrier,"{'imperial': '21 - 23', 'metric': '53 - 58'}",4,"{'height': 430, 'id': '1-7cgoZSh', 'url': 'htt...",10 - 13 years,Airedale Terrier,"United Kingdom, England",1-7cgoZSh,"Outgoing, Friendly, Alert, Confident, Intellig...","{'imperial': '40 - 65', 'metric': '18 - 29'}",NaN,NaN,NaN,21 - 23,53 - 58,430,1-7cgoZSh,https://cdn2.thedogapi.com/images/1-7cgoZSh.jpg,645
4,Sheep guarding,Working,"{'imperial': '28 - 34', 'metric': '71 - 86'}",5,"{'height': 471, 'id': '26pHT3Qk7', 'url': 'htt...",10 - 12 years,Akbash Dog,,26pHT3Qk7,"Loyal, Independent, Intelligent, Brave","{'imperial': '90 - 120', 'metric': '41 - 54'}",NaN,NaN,NaN,28 - 34,71 - 86,471,26pHT3Qk7,https://cdn2.thedogapi.com/images/26pHT3Qk7.jpg,600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,"Vermin hunting, fox bolting",NaN,"{'imperial': '13 - 16', 'metric': '33 - 41'}",259,"{'height': 795, 'id': 'SJ6f2g9EQ', 'url': 'htt...",13 – 14 years,Wire Fox Terrier,NaN,SJ6f2g9EQ,"Fearless, Friendly, Bold, Keen, Alert, Quick","{'imperial': '15 - 19', 'metric': '7 - 9'}",NaN,NaN,England,13 - 16,33 - 41,795,SJ6f2g9EQ,https://cdn2.thedogapi.com/images/SJ6f2g9EQ.jpg,1000
168,"Gundog, ""swamp-tromping"", Flushing, pointing, ...",Sporting,"{'imperial': '20 - 24', 'metric': '51 - 61'}",260,"{'height': 1604, 'id': 'Bkam2l9Vm', 'url': 'ht...",12 - 14 years,Wirehaired Pointing Griffon,NaN,Bkam2l9Vm,"Loyal, Gentle, Vigilant, Trainable, Proud","{'imperial': '45 - 70', 'metric': '20 - 32'}",NaN,NaN,NaN,20 - 24,51 - 61,1604,Bkam2l9Vm,https://cdn2.thedogapi.com/images/Bkam2l9Vm.jpg,2328
169,NaN,Sporting,"{'imperial': '21.5 - 25', 'metric': '55 - 64'}",261,"{'height': 770, 'id': 'r1I4hl5Em', 'url': 'htt...",12 - 14 years,Wirehaired Vizsla,NaN,r1I4hl5Em,NaN,"{'imperial': '45 - 65', 'metric': '20 - 29'}",NaN,NaN,NaN,21.5 - 25,55 - 64,770,r1I4hl5Em,https://cdn2.thedogapi.com/images/r1I4hl5Em.jpg,1024
170,NaN,Non-Sporting,"{'imperial': '10 - 23', 'metric': '25 - 58'}",262,"{'height': 1350, 'id': 'HkNS3gqEm', 'url': 'ht...",12 - 14 years,Xoloitzcuintli,NaN,HkNS3gqEm,"Cheerful, Alert, Companionable, Intelligent, P...","{'imperial': '9 - 31', 'metric': '4 - 14'}",NaN,NaN,NaN,10 - 23,25 - 58,1350,HkNS3gqEm,https://cdn2.thedogapi.com/images/HkNS3gqEm.jpg,1500
171,Small vermin hunting,Toy,"{'imperial': '8 - 9', 'metric': '20 - 23'}",264,"{'height': 683, 'id': 'B12BnxcVQ', 'url': 'htt...",12 - 16 years,Yorkshire Terrier,NaN,B12BnxcVQ,"Bold, Independent, Confident, Intelligent, Cou...","{'imperial': '4 - 7', 'metric': '2 - 3'}",NaN,NaN,NaN,8 - 9,20 - 23,683,B12BnxcVQ,https://cdn2.thedogapi.com/images/B12BnxcVQ.jpg,1024

In [5]:
new_df2.columns

Index(['bred_for', 'breed_group', 'height', 'id', 'image', 'life_span', 'name',
       'origin', 'reference_image_id', 'temperament', 'weight', 'country_code',
       'description', 'history', 'imperial', 'metric', 'height', 'id', 'url',
       'width'],
      dtype='object')

In [6]:
drop_df = new_df2.drop(columns=['country_code','description','history','height','id',
                                'width','metric','reference_image_id','origin','image'])
drop_df

,bred_for,breed_group,life_span,name,temperament,weight,imperial,url
0,"Small rodent hunting, lapdog",Toy,10 - 12 years,Affenpinscher,"Stubborn, Curious, Playful, Adventurous, Activ...","{'imperial': '6 - 13', 'metric': '3 - 6'}",9 - 11.5,https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg
1,Coursing and hunting,Hound,10 - 13 years,Afghan Hound,"Aloof, Clownish, Dignified, Independent, Happy","{'imperial': '50 - 60', 'metric': '23 - 27'}",25 - 27,https://cdn2.thedogapi.com/images/hMyT4CDXR.jpg
2,A wild pack animal,NaN,11 years,African Hunting Dog,"Wild, Hardworking, Dutiful","{'imperial': '44 - 66', 'metric': '20 - 30'}",30,https://cdn2.thedogapi.com/images/rkiByec47.jpg
3,"Badger, otter hunting",Terrier,10 - 13 years,Airedale Terrier,"Outgoing, Friendly, Alert, Confident, Intellig...","{'imperial': '40 - 65', 'metric': '18 - 29'}",21 - 23,https://cdn2.thedogapi.com/images/1-7cgoZSh.jpg
4,Sheep guarding,Working,10 - 12 years,Akbash Dog,"Loyal, Independent, Intelligent, Brave","{'imperial': '90 - 120', 'metric': '41 - 54'}",28 - 34,https://cdn2.thedogapi.com/images/26pHT3Qk7.jpg
...,...,...,...,...,...,...,...,...
167,"Vermin hunting, fox bolting",NaN,13 – 14 years,Wire Fox Terrier,"Fearless, Friendly, Bold, Keen, Alert, Quick","{'imperial': '15 - 19', 'metric': '7 - 9'}",13 - 16,https://cdn2.thedogapi.com/images/SJ6f2g9EQ.jpg
168,"Gundog, ""swamp-tromping"", Flushing, pointing, ...",Sporting,12 - 14 years,Wirehaired Pointing Griffon,"Loyal, Gentle, Vigilant, Trainable, Proud","{'imperial': '45 - 70', 'metric': '20 - 32'}",20 - 24,https://cdn2.thedogapi.com/images/Bkam2l9Vm.jpg
169,NaN,Sporting,12 - 14 years,Wirehaired Vizsla,NaN,"{'imperial': '45 - 65', 'metric': '20 - 29'}",21.5 - 25,https://cdn2.thedogapi.com/images/r1I4hl5Em.jpg
170,NaN,Non-Sporting,12 - 14 years,Xoloitzcuintli,"Cheerful, Alert, Companionable, Intelligent, P...","{'imperial': '9 - 31', 'metric': '4 - 14'}",10 - 23,https://cdn2.thedogapi.com/images/HkNS3gqEm.jpg
171,Small vermin hunting,Toy,12 - 16 years,Yorkshire Terrier,"Bold, Independent, Confident, Intelligent, Cou...","{'imperial': '4 - 7', 'metric': '2 - 3'}",8 - 9,https://cdn2.thedogapi.com/images/B12BnxcVQ.jpg

In [7]:
drop_df=drop_df.rename(columns={'imperial':'height'})
drop_df

,bred_for,breed_group,life_span,name,temperament,weight,height,url
0,"Small rodent hunting, lapdog",Toy,10 - 12 years,Affenpinscher,"Stubborn, Curious, Playful, Adventurous, Activ...","{'imperial': '6 - 13', 'metric': '3 - 6'}",9 - 11.5,https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg
1,Coursing and hunting,Hound,10 - 13 years,Afghan Hound,"Aloof, Clownish, Dignified, Independent, Happy","{'imperial': '50 - 60', 'metric': '23 - 27'}",25 - 27,https://cdn2.thedogapi.com/images/hMyT4CDXR.jpg
2,A wild pack animal,NaN,11 years,African Hunting Dog,"Wild, Hardworking, Dutiful","{'imperial': '44 - 66', 'metric': '20 - 30'}",30,https://cdn2.thedogapi.com/images/rkiByec47.jpg
3,"Badger, otter hunting",Terrier,10 - 13 years,Airedale Terrier,"Outgoing, Friendly, Alert, Confident, Intellig...","{'imperial': '40 - 65', 'metric': '18 - 29'}",21 - 23,https://cdn2.thedogapi.com/images/1-7cgoZSh.jpg
4,Sheep guarding,Working,10 - 12 years,Akbash Dog,"Loyal, Independent, Intelligent, Brave","{'imperial': '90 - 120', 'metric': '41 - 54'}",28 - 34,https://cdn2.thedogapi.com/images/26pHT3Qk7.jpg
...,...,...,...,...,...,...,...,...
167,"Vermin hunting, fox bolting",NaN,13 – 14 years,Wire Fox Terrier,"Fearless, Friendly, Bold, Keen, Alert, Quick","{'imperial': '15 - 19', 'metric': '7 - 9'}",13 - 16,https://cdn2.thedogapi.com/images/SJ6f2g9EQ.jpg
168,"Gundog, ""swamp-tromping"", Flushing, pointing, ...",Sporting,12 - 14 years,Wirehaired Pointing Griffon,"Loyal, Gentle, Vigilant, Trainable, Proud","{'imperial': '45 - 70', 'metric': '20 - 32'}",20 - 24,https://cdn2.thedogapi.com/images/Bkam2l9Vm.jpg
169,NaN,Sporting,12 - 14 years,Wirehaired Vizsla,NaN,"{'imperial': '45 - 65', 'metric': '20 - 29'}",21.5 - 25,https://cdn2.thedogapi.com/images/r1I4hl5Em.jpg
170,NaN,Non-Sporting,12 - 14 years,Xoloitzcuintli,"Cheerful, Alert, Companionable, Intelligent, P...","{'imperial': '9 - 31', 'metric': '4 - 14'}",10 - 23,https://cdn2.thedogapi.com/images/HkNS3gqEm.jpg
171,Small vermin hunting,Toy,12 - 16 years,Yorkshire Terrier,"Bold, Independent, Confident, Intelligent, Cou...","{'imperial': '4 - 7', 'metric': '2 - 3'}",8 - 9,https://cdn2.thedogapi.com/images/B12BnxcVQ.jpg

In [8]:
new_df3 = pd.concat([drop_df, drop_df["weight"].apply(pd.Series)], axis=1)
new_df3

new_df3=new_df3.drop(columns=['metric','weight'])

In [9]:
new_df3=new_df3.rename(columns={'imperial':'weight'})
new_df3

,bred_for,breed_group,life_span,name,temperament,height,url,weight
0,"Small rodent hunting, lapdog",Toy,10 - 12 years,Affenpinscher,"Stubborn, Curious, Playful, Adventurous, Activ...",9 - 11.5,https://cdn2.thedogapi.com/images/BJa4kxc4X.jpg,6 - 13
1,Coursing and hunting,Hound,10 - 13 years,Afghan Hound,"Aloof, Clownish, Dignified, Independent, Happy",25 - 27,https://cdn2.thedogapi.com/images/hMyT4CDXR.jpg,50 - 60
2,A wild pack animal,NaN,11 years,African Hunting Dog,"Wild, Hardworking, Dutiful",30,https://cdn2.thedogapi.com/images/rkiByec47.jpg,44 - 66
3,"Badger, otter hunting",Terrier,10 - 13 years,Airedale Terrier,"Outgoing, Friendly, Alert, Confident, Intellig...",21 - 23,https://cdn2.thedogapi.com/images/1-7cgoZSh.jpg,40 - 65
4,Sheep guarding,Working,10 - 12 years,Akbash Dog,"Loyal, Independent, Intelligent, Brave",28 - 34,https://cdn2.thedogapi.com/images/26pHT3Qk7.jpg,90 - 120
...,...,...,...,...,...,...,...,...
167,"Vermin hunting, fox bolting",NaN,13 – 14 years,Wire Fox Terrier,"Fearless, Friendly, Bold, Keen, Alert, Quick",13 - 16,https://cdn2.thedogapi.com/images/SJ6f2g9EQ.jpg,15 - 19
168,"Gundog, ""swamp-tromping"", Flushing, pointing, ...",Sporting,12 - 14 years,Wirehaired Pointing Griffon,"Loyal, Gentle, Vigilant, Trainable, Proud",20 - 24,https://cdn2.thedogapi.com/images/Bkam2l9Vm.jpg,45 - 70
169,NaN,Sporting,12 - 14 years,Wirehaired Vizsla,NaN,21.5 - 25,https://cdn2.thedogapi.com/images/r1I4hl5Em.jpg,45 - 65
170,NaN,Non-Sporting,12 - 14 years,Xoloitzcuintli,"Cheerful, Alert, Companionable, Intelligent, P...",10 - 23,https://cdn2.thedogapi.com/images/HkNS3gqEm.jpg,9 - 31
171,Small vermin hunting,Toy,12 - 16 years,Yorkshire Terrier,"Bold, Independent, Confident, Intelligent, Cou...",8 - 9,https://cdn2.thedogapi.com/images/B12BnxcVQ.jpg,4 - 7

In [10]:
new_df4 = new_df3['weight'].str.split('- ',expand=True)
new_df4

       0    1
0     6    13
1    50    60
2    44    66
3    40    65
4    90   120
..   ...  ...
167  15    19
168  45    70
169  45    65
170   9    31
171   4     7

[172 rows x 2 columns]

In [ ]:
life_span_temp = new_df3['life_span'].str.split(' ',expand=True)
life_span_temp
life_span_temp=life_span_temp.drop(columns=[1,3,4])
life_span_temp
life_span_temp = life_span_temp.rename(columns={0:'low_life',2:'high_life'})
life_span_temp

In [ ]:
if high_life == 'None':
    high_life = low_life