In [1]:
# Import dependencies
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import unidecode 
from config import api_key
import requests
import json

In [2]:
breeds_url = 'https://stacker.com/stories/2454/origins-50-most-popular-dog-breeds'

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 102.0.5005
Get LATEST chromedriver version for 102.0.5005 google-chrome
Driver [/Users/ellengrove/.wdm/drivers/chromedriver/mac64/102.0.5005.61/chromedriver] found in cache

In [3]:
browser.visit(breeds_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [4]:
results = soup.find_all('div', class_='ct-slideshow__slide__text-container')
results.pop(0)

<div class="ct-slideshow__slide__text-container">
<h2 class="ct-slideshow__slide__text-container__caption">
<div>Origins of the 50 most popular dog breeds</div>
</h2>
<div class="ct-slideshow__slide__text-container__description">
<div><p>Dogs have long been known as man's best friend. Science tells us why: European scientists studying the DNA of prehistoric dogs in Germany concluded in 2017 that all modern dogs <a href="https://www.sciencedaily.com/releases/2017/07/170718113516.htm" rel="noopener" target="_blank">have the same geographic origin</a> and can be traced back to a single instance of domestication about 20,000 to 40,000 years ago. This makes them the first animal domesticated by man. The mutually beneficial relationship between human and dog became inseparable from there, as dogs provided safety and security to their nomadic hunter-gatherer owners and humans returned the favor with food and shelter. And in each other, both parties found loyal companionship.<br/><br/>
Modern dogs likely came from prehistoric humans domesticating gray wolves. Over time, people began selectively breeding domesticated wolves for different traits to become better hunting partners or protectors. As humans migrated to different areas of the world, they brought their furry pals with them, and different climates and ways of life led to the selective breeding of even more traits. This began to create the variety of breeds we know and love today.<br/><br/><a href="https://bigthink.com/philip-perry/new-genetic-study-shows-the-origin-of-dog-breeds" rel="noopener" target="_blank">Four hundred dog breeds</a> roam the planet today that can be separated into 23 distinct types, or “clades.” Even more different canines are likely to be created as breeding continues—although it will take more than a few dog years to do so.<br/><br/><a href="https://stacker.com">Stacker</a> researched the origins of the <a href="https://www.akc.org/expert-advice/dog-breeds/2020-popular-breeds-2019/" rel="noopener" target="_blank">50 most popular dog breeds using 2019 data from the American Kennel Club</a>, released on May 1, 2020. Together, these pups originated from every corner of the world from Japan to the U.S. East Coast.<br/><br/>
Read on to find out how these pooches have withstood the years in a dog-eat-dog world.<br/><br/><strong>You may also like:</strong> <a href="https://thestacker.com/stories/2289/most-popular-dog-breeds-21st-century">Most popular dog breeds of the 21st century</a></p></div>
</div>
</div>

In [5]:
len(results)

50

In [6]:
# initialize empty list to store breeds
breed_list = []
rank_list = []
origin_list = []
latitude_list = []
longitude_list = []


for item in results:

    breed_title = item.find(class_="ct-slideshow__slide__text-container__caption").text
    breed_rank = breed_title.split('. ',1)
    
    rank_list.append(breed_rank[0].strip())
    breed_list.append(unidecode.unidecode(breed_rank[1].strip()))
    para = item.find('div',class_="ct-slideshow__slide__text-container__description").\
        get_text(separator='<br>', strip=True).split('<br>')
    origin = para[0].split(': ',1)
    origin_list.append(origin[1])

In [33]:
latitude_list = []
longitude_list = []
for i in range(len(origin_list)):
    location = origin_list[i]
    try: 
        base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
        url = f'{base_url}address={location}&key={api_key}'
        data = requests.get(url).json()
        
        lat = data['results'][0]['geometry']['location']['lat']
        lon = data['results'][0]['geometry']['location']['lng']
        latitude_list.append(lat)
        longitude_list.append(lon)
        
    except:
        latitude_list.append(np.NaN)
        longitude_list.append(np.NaN)

In [34]:
origin_df = pd.DataFrame(list(zip(breed_list, rank_list,origin_list,
                                 latitude_list,longitude_list)),
               columns =['breed_name', 'rank','origin','lat','lng'])

In [35]:
origin_df

,breed_name,rank,origin,lat,lng
0,English cocker spaniel,#50,England,52.355518,-1.174320
1,Portuguese water dog,#49,Portugal,39.399872,-8.224454
2,St. Bernard,#48,Switzerland,46.818188,8.227512
3,Akita,#47,Japan,36.204824,138.252924
4,Chesapeake Bay retriever,#46,"Maryland, USA",39.045755,-76.641271
5,Shiba Inu,#45,Japan,36.204824,138.252924
6,West Highland white Terrier,#44,Scotland,56.490671,-4.202646
7,Bichon Frise,#43,Spain,40.463667,-3.749220
8,Rhodesian ridgeback,#42,Africa,-8.783195,34.508523
9,Belgian Malinois,#41,Belgium,50.503887,4.469936
10,Newfoundland,#40,"Newfoundland, Canada",53.135509,-57.660436
11,Weimaraner,#39,Germany,51.165691,10.451526
12,Collie,#38,Great Britain,53.833737,-2.429015
13,Basset Hound,#37,France and Belgium,46.227638,2.213749
14,Maltese,#36,Malta,35.937496,14.375416
15,Chihuahua,#35,"Chihuahua, Mexico",28.633375,-106.069795
16,Vizsla,#34,Hungary,47.162494,19.503304
17,Border collie,#33,Great Britain,53.833737,-2.429015
18,Mastiff,#32,Great Britain,53.833737,-2.429015
19,Pug,#31,China,35.861660,104.195397
20,Cane corso,#30,Italy,41.871940,12.567380
21,Miniature American shepherd,#29,United States,37.090240,-95.712891
22,Cocker spaniel,#28,Spain,40.463667,-3.749220
23,English springer spaniel,#27,Spain and England,40.463667,-3.749220
24,Brittany,#26,France,46.227638,2.213749
25,Shetland Sheepdog,#25,"Shetland Islands, Scotland",60.529651,-1.265941
26,Pomeranian,#24,"Poland, Germany",51.919438,19.145136
27,Bernese mountain dog,#23,"Bern, Switzerland",46.947974,7.447447
28,Havanese,#22,Cuba,21.521757,-77.781167
29,Boston Terrier,#21,"Boston, United States",42.360082,-71.058880
30,Shih Tzu,#20,China,35.861660,104.195397
31,Doberman pinscher,#19,Germany,51.165691,10.451526
32,Miniature schnauzer,#18,Germany,51.165691,10.451526
33,Great Dane,#17,Germany,51.165691,10.451526
34,Cavalier King Charles spaniel,#16,England,52.355518,-1.174320
35,Siberian husky,#15,Siberia,61.013710,99.196656
36,Boxer,#14,Germany,51.165691,10.451526
37,Australian Shepherd,#13,Europe,54.525961,15.255119
38,Yorkshire Terrier,#12,England,52.355518,-1.174320
39,Dachshund,#11,Germany,51.165691,10.451526
40,Pembroke Welsh corgi,#10,Wales,52.130661,-3.783712
41,German shorthaired pointer,#9,Germany,51.165691,10.451526
42,Rottweiler,#8,Germany,51.165691,10.451526
43,Beagle,#7,England,52.355518,-1.174320
44,Poodle,#6,Germany,51.165691,10.451526
45,Bulldog,#5,England,52.355518,-1.174320
46,French bulldog,#4,France,46.227638,2.213749
47,Golden retriever,#3,Scotland,56.490671,-4.202646
48,German shepherd,#2,Germany,51.165691,10.451526
49,Labrador retriever,#1,"Newfoundland, Canada",53.135509,-57.660436

In [8]:
# with open('data/top_dogs.json', 'w') as outfile:
#     json.dump(dog_data, outfile,indent=4)